<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-pills nav-fill "  role="tablist">
        <li  role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a
          class="nav-link"
          id="ex2-tab-2"
          data-mdb-toggle="pill"
          role="tab" 
          routerLink="/">Projects</a></li>
        <li  role="presentation" routerLinkActive="active"><a
          class="nav-link"
          id="ex2-tab-2"
          data-mdb-toggle="pill"
          role="tab" routerLink="/users">Users</a></li>
      </ul>
    </div>
  </div>
  <div class="row" style="overflow:hidden">
    <div class="col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
